.montserrat {
    font-family: "Montserrat", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  
  :root {
    --dark-color: #635bff;
    --light-color: #80e9ff;
  }
  
  body {
    background-color: #1e1e1e;
  }
  
  .main-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
  }
  
  .text-box {
    justify-content: center;
    text-align: left q;
    display: flex;
    flex-direction: column;
    font-family: Montserrat;
    color: white;
  }
  
  .text-box h1 {
    font-size: 50px;
    font-weight: normal;
    margin: 0;
  }
  
  .text-box p {
    font-size: 25px;
    margin: 0;
  }
  
  .image-box {
    justify-content: center;
  }
  
  .name {
    color: #03dac5;
  }
  svg {
    cursor: pointer;
  }
  
  #darkGroup {
    fill: var(--dark-color);
  }
  
  #lightGroup {
    fill: var(--light-color);
  }
  